.userinfo {
  padding: 20px;
  flex-shrink: 0;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--userinfo-bg);
  color: var(--text-color);
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.icons {
  display: flex;
  gap: 20px;
  position: relative;
}

.icons button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.icons button img {
  width: 25px;
  height: 25px;
}

.icons button{
  background-color: var(--icon-bg);
}

.icons button:hover {
  background-color: var(--icon-hover-bg);
}

.dropdown-menu {
  position: absolute;
  top: 120%;
  right: 0;
  background: var(--dropdown-bg);
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  z-index: 10;
  width: 120px;
  border-radius: 8px;
}

.dropdown-icon {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  gap: 10px; 
}

.dropdown-icon img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dropdown-menu button {
  background: none;
  border: none;
  padding: 8px 0;
  cursor: pointer;
  text-align: left;
  width: 100%;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dropdown-menu button:hover {
  background-color: var(--dropdown-hover-bg);
}
