:root {
    /* Light theme (default) */
    --bg-gradient-start: #F0E6D2;
    --bg-gradient-end: #87CEEB;
    --text-color: #333333;
    --primary-bg: rgba(221, 216, 216, 0.6);
    --primary-focus: rgba(135, 206, 235, 0.5);
    --container-bg: rgba(255, 255, 255, 0.8);
    --adduser-bg: rgba(209, 204, 204, 0.8);
    --border-color: rgba(148, 122, 122, 0.575);
    --loading-bg: rgba(135, 206, 235, 0.8);
    --link-color: #0000FF;
    --scrollbar-thumb: rgba(135, 206, 235, 0.7);
    --scrollbar-track: rgba(135, 206, 235, 0.5);
    --hover-bg: rgba(135, 206, 235, 0.1);
    --hover-shadow: rgba(0, 0, 0, 0.05);
    --icon-bg: rgba(75, 76, 78, 0.342);
    --icon-hover-bg: rgba(76, 170, 207, 0.5);   
    --photo-bg: #ffffff;
    --photo-text: #000000;
    --photo-span-color: #333333;
    --block-bg: rgba(255, 105, 135, 0.553);
    --block-hover-bg: rgba(255, 69, 90, 0.796);
    --clear-chat-bg: rgba(76, 170, 207, 0.5);
    --clear-chat-hover-bg: rgba(31, 142, 241, 0.8);
    --user-background-color: #f5f5f5;
    --user-hover-background-color: #e0e0e0;
    --input-bg: rgba(240, 240, 240, 0.8);
    --input-hover-bg: rgba(135, 206, 235, 0.3);
    --error-color: rgb(220, 20, 60);
    --button-bg:rgba(76, 170, 207, 0.5);
    --button-hover-bg:rgba(31, 142, 241, 0.8);
    --send-button-disabled-bg: #878787;
    --search-bar-bg: rgba(170, 221, 241, 0.7);
    --add-bg: rgba(76, 170, 207, 0.5);
    --add-hover-bg: rgba(31, 142, 241, 0.8);
    --item-hover-bg: rgba(0, 0, 0, 0.1);
    --modal-bg: white;
    --modal-shadow: rgba(0, 0, 0, 0.2);
    --input-border: #cccccc;
    --own-bg: rgba(170, 221, 241, 0.7);
    --message-bg:rgba(47, 147, 235, 0.8);
    --close-icon-color:#00000;
    --dropdown-bg: rgba(220, 225, 233, 0.95);
    --dropdown-hover-bg: var(--primary-focus);
    --userinfo-bg: var(--primary-bg);
  }
  
  .dark-theme {
    --bg-gradient-start: #334455;
    --bg-gradient-end: #282828;
    --text-color: #E0E0E0;
    --primary-bg: rgba(17, 25, 40, 0.6);
    --primary-focus: rgba(31, 142, 241, 0.5);
    --container-bg: linear-gradient(145deg, rgba(50, 50, 50, 0.9), rgba(30, 30, 30, 0.9));
    --adduser-bg: rgba(14, 17, 19, 0.5);
    --border-color: rgba(255, 255, 255, 0.2);
    --loading-bg: rgba(51, 68, 85, 0.8);
    --link-color: #64FFDA;
    --scrollbar-thumb: rgba(26, 54, 54, 0.7);
    --scrollbar-track: rgba(26, 54, 54, 0.5);
    --hover-bg: rgba(31, 142, 241, 0.1);
    --hover-shadow: rgba(0, 0, 0, 0.1);
    --icon-bg: rgba(185, 200, 228, 0.3);
    --icon-hover-bg: rgba(31, 142, 241, 0.5);
    --photo-bg: #333333;
    --photo-text: #ffffff;
    --photo-span-color: #cccccc;
    --block-bg: rgba(230, 74, 105, 0.553);
    --block-hover-bg: rgba(220, 20, 60, 0.796);
    --clear-chat-bg: rgba(31, 142, 241, 0.5);
    --clear-chat-hover-bg: rgba(185, 200, 228, 0.3);
    --user-background-color: #333333;
    --user-hover-background-color: #4a4a4a;
    --input-bg: rgba(17, 25, 40, 0.3);
    --input-hover-bg: rgba(31, 142, 241, 0.3);
    --error-color: rgb(196, 104, 104);
    --button-bg: rgba(31, 142, 241, 0.5);
    --button-hover-bg: rgba(185, 200, 228, 0.3);
    --send-button-disabled-bg: #878787;
    --search-bar-bg: rgba(17, 25, 40, 0.5);
    --add-bg: rgba(185, 200, 228, 0.3);
    --add-hover-bg: rgba(31, 142, 241, 0.5);
    --item-hover-bg: rgba(255, 255, 255, 0.1);
    --modal-bg: #1e1e1e;
    --modal-shadow: rgba(0, 0, 0, 0.5);
    --input-border: #444444;   
    --own-bg: rgba(185, 200, 228, 0.3);
    --message-bg: rgba(7, 77, 216, 0.596);
    --close-icon-color: #ffffff;
    --dropdown-bg: rgba(140, 152, 173, 0.95);
    --dropdown-hover-bg:  var(--primary-focus);
    --userinfo-bg: var(--primary-bg);
  }